<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Visit Us</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  
</ion-header>

<ion-content class="ion-padding">
  <p>You can visit our Social Medias for more exciting post and music.</p>

  <strong>
    <p>Facebook</p>
  </strong>
  <p>Soundscape</p>

  <strong>
    <p>Twitter</p>
  </strong>
  <p>@relax-soundscape</p>

  <strong>
    <p>Instagram</p>
  </strong>
  <p>@realsoundscape</p>
  <div linespace></div>
  <div class="wrapper">
    <div class="button">
       <div class="icon">
          <i class="fab fa-facebook-f"></i>
       </div>
       <span>Facebook</span>
    </div>
    <div class="button">
       <div class="icon">
          <i class="fab fa-twitter"></i>
       </div>
       <span>Twitter</span>
    </div>
    <div class="button">
       <div class="icon">
          <i class="fab fa-instagram"></i>
       </div>
       <span>Instagram</span>
    </div>
 </div>

</ion-content>
