<ion-header>
  <ion-toolbar>
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reviewForm" (ngSubmit)="onReview()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Review</ion-label>
      <ion-input type="text" formControlName="review"></ion-input>
    </ion-item>

    <div linespace></div>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-button type="submit" shape="round" color='light' expand="block">Submit Review</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
