img {
  max-width: 50px;
  border: 0;
}

h1 {
  font-size: 20px;
}

ion-content{
  --ion-background-color: var(--ion-color-medium);
}
[linespace]{
  height: 70px;
  background-color: #D8CAFF;
}

.card {
  --ion-background-color: #9ba0ce;
  box-shadow: none !important;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}
