<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/listen.png" />
  </ion-slide>
  <ion-slide>
    <img src="assets/images/home.svg" />
    <h2>#Selfcare is the new Normal!</h2>
    <p>Life can sometimes feel like an uphill battle.
      There's no reason to climb this hill alone. We're here to guide you.
  </p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/about.svg" />
    <h2 class="heading">About Us</h2>
    <p>Our website aims to help the users or the people to improve 
      their physical and mental health. By doing some task or activities and write your daily mood</p>
  <p>
      We want you to help yourself, and to fight your everyday Battle.
  </p>
  </ion-slide>
</ion-slides>