<div linespace></div>
<ion-content>
  <img src="assets/images/logo.png" />
  <ion-card>
    <ion-card-header style="text-align:center;">
      <ion-card-title>Forgot Password</ion-card-title>
      <ion-card-subtitle>Please enter your email address</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input required type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-list>

      <div linespace1></div>
      <ion-button expand="block" shape="round" color='dark' fill="solid" (click)="resetPassword()">
        <ion-text color="light">Reset Password</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>
 
</ion-content>
