<ion-slides [options]="options" class="ion-margin-top">

<ion-slide>
<ion-content>
  <ion-card>
    <h1>My Playlist No. 1</h1>
    <ion-card-header>
      <ion-card-subtitle>Add new Song</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form class="ion-padding" (submit)="addSong()">
        <ion-item>
          <ion-label position="stacked">Add New</ion-label>
          <ion-input required name="song" [(ngModel)]="newSong" placeholder="Song"></ion-input>
        </ion-item>

    <ion-item lines="none">
      <input type="file" name="inputFile" (change)="chooseFile($event)" required>
    </ion-item>
    
    <ion-button type="submit">Add</ion-button>
    </form>


  <h1>
    My Playlist
  </h1>

  <ion-list>
    <ion-item *ngFor="let item of items | async">
      <div class="ion-text-wrap">
        <h3 class="ion-text-center">{{ item.title }}</h3>
      
      <audio controls *ngIf="item.audioUrl">
        <source [src]="item.audioUrl" alt="">
      </audio></div>
      <ion-button fill="clear" color="danger" (click)="remove(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-slides>
</ion-slide>
</ion-card>


<ion-slide>
  <ion-content>
    <ion-card>
      <h1>My Playlist No. 2</h1>
      <ion-card-header>
        <ion-card-subtitle>Add new Song</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <form class="ion-padding" (submit)="addSong()">
          <ion-item>
            <ion-label position="stacked">Add New</ion-label>
            <ion-input required name="song" [(ngModel)]="newSong" placeholder="Song"></ion-input>
          </ion-item>
  
      <ion-item lines="none">
        <input type="file" name="inputFile" (change)="chooseFile($event)" required>
      </ion-item>
      
      <ion-button type="submit">Add</ion-button>
      </form>
  
  
    <h1>
      My Playlist
    </h1>
  
    <ion-list>
      <ion-item *ngFor="let item of items | async">
        <div class="ion-text-wrap">
          <h3 class="ion-text-center">{{ item.title }}</h3>
        
        <audio controls *ngIf="item.audioUrl">
          <source [src]="item.audioUrl" alt="">
        </audio></div>
        <ion-button fill="clear" color="danger" (click)="remove(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-slides>
  </ion-slide>
  </ion-card>

  
<ion-slide>
  <ion-content>
    <ion-card>
      <h1>My Playlist No. 3</h1>
      <ion-card-header>
        <ion-card-subtitle>Add new Song</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <form class="ion-padding" (submit)="addSong()">
          <ion-item>
            <ion-label position="stacked">Add New</ion-label>
            <ion-input required name="song" [(ngModel)]="newSong" placeholder="Song"></ion-input>
          </ion-item>
  
      <ion-item lines="none">
        <input type="file" name="inputFile" (change)="chooseFile($event)" required>
      </ion-item>
      
      <ion-button type="submit">Add</ion-button>
      </form>
  
  
    <h1>
      My Playlist
    </h1>
  
    <ion-list>
      <ion-item *ngFor="let item of items | async">
        <div class="ion-text-wrap">
          <h3 class="ion-text-center">{{ item.title }}</h3>
        
        <audio controls *ngIf="item.audioUrl">
          <source [src]="item.audioUrl" alt="">
        </audio></div>
        <ion-button fill="clear" color="danger" (click)="remove(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-slides>
  </ion-slide>
  </ion-card>

  
<ion-slide>
  <ion-content>
    <ion-card>
      <h1>My Playlist No. 4</h1>
      <ion-card-header>
        <ion-card-subtitle>Add new Song</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <form class="ion-padding" (submit)="addSong()">
          <ion-item>
            <ion-label position="stacked">Add New</ion-label>
            <ion-input required name="song" [(ngModel)]="newSong" placeholder="Song"></ion-input>
          </ion-item>
  
      <ion-item lines="none">
        <input type="file" name="inputFile" (change)="chooseFile($event)" required>
      </ion-item>
      
      <ion-button type="submit">Add</ion-button>
      </form>
  
  
    <h1>
      My Playlist
    </h1>
  
    <ion-list>
      <ion-item *ngFor="let item of items | async">
        <div class="ion-text-wrap">
          <h3 class="ion-text-center">{{ item.title }}</h3>
        
        <audio controls *ngIf="item.audioUrl">
          <source [src]="item.audioUrl" alt="">
        </audio></div>
        <ion-button fill="clear" color="danger" (click)="remove(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-slides>
  </ion-slide>
  </ion-card>
  </ion-content>