<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>The Care-ing application was developed as part of a requirement in the subject Mobile Application Development
    and Technologies (ITP316). This application aims to provide users with tools to track and take care of their
    mental health.</p>

  <strong>
    <p>Journal</p>
  </strong>
  <p>Users can keep track of their day to day activities by using the journaling section of the app.</p>

  <strong>
    <p>Activities</p>
  </strong>
  <p>Users are provided with self-care activities in the activities section of the app.</p>

</ion-content>
