<ion-header>
  <ion-toolbar color="dark">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>The Soundscape application was developed as part of a requirement in the subject Mobile Application Development
    and Technologies. This application aims to provide users with tools to relax and to have a good sleep at night.</p>

    <br>
  <strong>
    <p>Home Tab</p>
  </strong>
  <p>Users can see the categories of the sounds can choose what they want to listen.</p>

  <strong>
    <p>Music Tab</p>
  </strong>
  <p>Users are provided with soundscape music section where users can upload their own music.</p>

</ion-content>
