@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Poppins:wght@200;500&display=swap');
*{
  font-weight: bold;
}

ion-content {
  --ion-background-color: #D8CAFF;
}

[linespace]{
  height: 30px;
  background-color: #D8CAFF;
}

ion-button {
    padding-left: 20%;
    padding-right: 20%;
  }

  img {
    width: 100px;
    margin-left: 35%;
    margin-bottom: 10%;
}