<ion-header>
  <ion-toolbar color="dark">
<ion-title> My Uploads </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="options" class="ion-margin-top">

    <ion-slide>
  <ion-card>
    <h1>Relaxing Music</h1>
    <ion-card-content>
      <form class="ion-padding" (submit)="addSong()">
        <ion-item>
          <ion-label position="stacked">Add New</ion-label>
          <ion-input required name="song" [(ngModel)]="newSong" placeholder="Song"></ion-input>
        </ion-item>

    <ion-item lines="none">
      <input type="file" name="inputFile" (change)="chooseFile($event)" required>
    </ion-item>
    
    <ion-button type="submit">Add</ion-button>
    </form>
 </ion-card-content>
  

  <h1>
    My Playlist
  </h1>

  <ion-list>
    <ion-item *ngFor="let item of items | async">
      <div class="ion-text-wrap">
        <h3 class="ion-text-center">{{ item.title }}</h3>
      
      <audio controls *ngIf="item.audioUrl">
        <source [src]="item.audioUrl" alt="">
      </audio></div>
      <ion-button slot="end" fill="clear" color="danger" (click)="remove(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>  
 </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <h1>Storytelling</h1>
    <ion-card-content>
      <form class="ion-padding" (submit)="addSong1()">
        <ion-item>
          <ion-label position="stacked">Add New</ion-label>
          <ion-input required name="song" [(ngModel)]="newSong1" placeholder="Song"></ion-input>
        </ion-item>

    <ion-item lines="none">
      <input type="file" name="inputFile" (change)="chooseFile($event)" required>
    </ion-item>
    
    <ion-button type="submit">Add</ion-button>
    </form>
 </ion-card-content>
  

  <h1>
    My Playlist
  </h1>

  <ion-list>
    <ion-item *ngFor="let list of lists | async">
      <div class="ion-text-wrap">
        <h3 class="ion-text-center">{{ list.title }}</h3>
      
      <audio controls *ngIf="list.musicUrl">
        <source [src]="list.musicUrl" alt="">
      </audio></div>
      <ion-button slot="end" fill="clear" color="danger" (click)="removes(list)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>  
 </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <h1>Luallaby</h1>
    <ion-card-content>
      <form class="ion-padding" (submit)="addSong2()">
        <ion-item>
          <ion-label position="stacked">Add New</ion-label>
          <ion-input required name="song" [(ngModel)]="newSong2" placeholder="Song"></ion-input>
        </ion-item>

    <ion-item lines="none">
      <input type="file" name="inputFile" (change)="chooseFile($event)" required>
    </ion-item>
    
    <ion-button type="submit">Add</ion-button>
    </form>
 </ion-card-content>
  

  <h1>
    My Playlist
  </h1>

  <ion-list>
    <ion-item *ngFor="let play of plays | async">
      <div class="ion-text-wrap">
        <h3 class="ion-text-center">{{ play.title }}</h3>
      
      <audio controls *ngIf="play.songUrl">
        <source [src]="play.songUrl" alt="">
      </audio></div>
      <ion-button slot="end" fill="clear" color="danger" (click)="removess(play)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>  
 </ion-card>
</ion-slide>
  </ion-slides>
  </ion-content>