<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Profile Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   

  <ion-card>
<form>
<ion-list>
  <ion-item>
  <ion-label position="stacked">Fullname</ion-label>
  <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone#</ion-label>
  <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
  <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>

</ion-list>
</form>
  </ion-card>

  <div linespace></div>
  <ion-button class="submit" expand="block" shape='round' color='dark' (click)="updateProfile()">
    <ion-text color="light">Update</ion-text>
  </ion-button>

</ion-content>
