
<ion-content color="medium">
  <ion-list-header>
    <ion-label>Songs</ion-label>
  </ion-list-header>

  <ion-item lines="none" *ngFor="let song of songs" (click)="playSong(song.title,song.subtitle,song.img,song.path)">
    <ion-thumbnails slot="start">
      <img src="{{song.img}}"/>
    </ion-thumbnails>
    <ion-label>
      <h2>{{song.title}}</h2>
      <p>{{song.subtitle</p>
    </ion-label>
  </ion-item>
</ion-content>

<div class="ion-text-center" id="fullPlayer" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="end" color="medium">
      <ion-button (click)="minimize()" color="danger">
        <svg style="width:24px;height:24px;" viewBox="0 0 24 24" slot="icon-only">
          <path fill="currentColor"
          d="M16.59,5.59L18,7L12,13L6,7L7.41,5.59L12,10.17L16.59,5.59M16.59,11.59L18,13L12,19L6,13L7.41"></path>
        </svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="{{currImage}}" alt="" id="currImg">
  <h2>{{currTitle}}</h2>
  <p>{{currSubtitle}}</p>
  <ion-item lines="none">
    <ion-range #range (touchmomve)="touchMove()" color="danger" (touchend)="touchEnd()" (touchstart)="touchStart()" max="{{maxRangeValue}}" [(ngModel)]="currRangeTime">
      <ion-label slot="start">
        <ion-text>
          <b>{{currSecsText}}</b>
        </ion-text>
      </ion-label>

      <ion-label slot="end">
        <ion-text>
          <b>{{durationText}}</b>
        </ion-text>
      </ion-label>
    </ion-range>
  </ion-item>

  <ion-button color="danger" fill="clear" mode="ios" (click)="playPrev()">
    <ion-icon name="play-skip-back-outline" color="danger" style="font-size: 30px;"></ion-icon>
  </ion-button>

  <ion-button color="danger" fill="clear" mode="ios" *ngIf="!isPlaying" (click)="play()">
    <ion-icon name="play" color="danger" style="font-size: 40px;"></ion-icon>
  </ion-button>

  <ion-button color="danger" fill="clear" mode="ios" *ngIf="isPlaying" (click)="pause()">
    <ion-icon name="pause" color="danger" style="font-size: 40px;"></ion-icon>
  </ion-button>

  <ion-button color="danger" fill="clear" mode="ios" (click)="playNext()">
    <ion-icon name="play-skip-forward-outline" color="danger" style="font-size: 30px;"></ion-icon>
  </ion-button>

  <ion-list-header>
    Liked Music
  </ion-list-header>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="{{upNextImg}}"/>
    </ion-thumbnail>
    <ion-label>
      <h2>{{upNextTitle}}</h2>
      <p>{{upNextSubtitle}}</p>
    </ion-label>
  </ion-item>
</div>

<ion-toolbar id="miniPlayer">
  <ion-item>
    <ion-thumbnail slot="start" (click)="maximize()">
      <img src="{{currImage}}"/>
    </ion-thumbnail>
    <ion-label (click)="maximize()">
      <h2>{{currTitle}}</h2>
      <p>{{currSubtitle}}</p>
    </ion-label>

    <ion-button color="danger" (click)="play()" mode="ios" fill="clear" *ngIf="!isPlaying">
      <ion-icon name="play" style="font-size: x-large;"></ion-icon>
    </ion-button>

    <ion-button color="danger" (click)="pause()" mode="ios" fill="clear" *ngIf="!isPlaying">
      <ion-icon name="pause" style="font-size: x-large;"></ion-icon>
    </ion-button>

    <ion-button color="danger" (click)="cancel()" mode="ios" fill="clear">
      <ion-icon name="close" style="font-size: x-large;"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-progress-bar value="{{progress}}"></ion-progress-bar>
</ion-toolbar>
