<div linespace2></div>
<ion-content>
  <div class="center">
    <app-logo></app-logo>
    <h1>Sign In</h1>
  </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type='text' [(ngModel)]="credentials.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type='password' [(ngModel)]="credentials.password"></ion-input>
      </ion-item>

      <div linespace></div>
      <ion-button expand="block" shape='round' color='dark' class="register" fill="solid" (click)="login()">
        <ion-text color="light">Login</ion-text>
      </ion-button>
    
      <ion-label class="ion-text-center">
        Don't have Account?<a routerLink='/signup'>Sign Up</a>
      </ion-label>

    </ion-list>
</ion-content>
